/* Common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: auto;  
}
body{
    font-family: 'Catamaran', sans-serif;
}
.button{
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    padding: 0.5rem 1rem;
}
.button:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.274);
    opacity: 90%;
}

i{
    margin: 1rem 1rem 1rem 0;
}

/* debug */


    /* header debug */
    
    /* .debug .navbar {
      background-color: azure;
    } */
   /*  .debug .side{
        background-color: cadetblue;
    }
    .debug .links{
        background-color: darkcyan;
    } */
    /* .debug .content.header{
        background-color: blue;
        height: 500px;
    } */
    /* .debug .hero_text{
        background-color: cadetblue ;
} */
    /* Main debug */
/*     .debug #main {
    background-color: darkgoldenrod ;
    padding: 50px 0;
    } */
    /* .debug .container.main{
        background-color:sandybrown;
        padding: 1rem;
    } */
    /* .debug .main_image{
        background-color:sienna;
        height: 600px;
    } */
    
    /* footer debug */
    .debug footer {
    background-color: rgba(35, 39, 42, 1);
    }
/* /debug */

/* Header */
.head{
    line-height: 80px;
    background-color: rgb(37, 94, 233);
}
    /* Navbar */
    .navbar{
        width: 1250px;
    }
    .side{
        height: 80px;
        width: 15%;
        float: left;
    }
    .accedi.side{ 
        text-align: right;
    }
    .links{
        height: 80px;
        width: 70%;
        float: left;
        text-align: center;
    }
    .links .h{
        color: white;
        text-decoration: none;
        margin: 1.5rem;
        font-weight: 600;
        font-size: 1.1rem;
    }
    .links .h:hover{
        text-decoration: underline;
    }
    img.logo{
        vertical-align: middle;
    }
    .button.accedi{
        background: white;
        font-size: 1.2rem;
    }
    
    /* /header */
    /* main */
        /* Hero section */
    .hero_text{
        width: 800px;
        color: white;
        text-align: center;
        padding: rem;
        font-size: 1.5rem;
        margin: auto;
        margin-bottom: 2rem;
    }
    .container.hero{
        padding: 100px 0px;
        background-image: url(../img/jumbo.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container .hero{
        margin: 1rem;
    }
    .container.hero h1.hero{
        font-size: 3.5rem;
    }
    .container.hero p.hero{
        font-size: 1.3rem;
    }
    .row_button{
        text-align: center;
    }
   .button.mac{
       background: white;
       font-size: 1.4rem;
       margin: 1rem;
       padding: 0.5rem 2rem;

   }
   .button.browser{
       background: rgb(35, 39, 42);
       color: white;
       font-size: 1.4rem;
       margin: 1rem;
       padding: 0.5rem 2rem;
   }
    .container.main{
         width: 1250px;
    }
    .main_text{
        width: 35%;
        float: left;
    }
    .main_image{
        width: 65%;
        float: left;
    }
    .main_text.large, .action {
        width: 100%;
        height: 200px;
    }
    .main_hero {
        width: 100%;
        /* height: 600px; */
    }
    div.main_text h2{
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 2rem 0;
    }
    div.main_text p{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .main_text.large, .main_hero, .action{
        text-align: center;
    }
    .title_ready{
        margin: auto;
        width: 500px;
        height: 70px;
        background-image: url(../img/stars.svg);
        background-size: contain;
        background-repeat: no-repeat;
        line-height: 70px;
    }
    .title_ready h2{
        font-size: 25px;
        font-weight: 900;
    }
    .last .button.mac{
        background: #8EA1E1;
        color: white;
        padding: 0.5rem 2rem;
    }
/* footer */
footer{
    height: 500px;
    background: #23272A;
}
.container.footer{
    width: 1250px;
}
.foot_links{
    width: 15%;
}
.foot_links a:hover{
    text-decoration: underline;
}
.foot_social{
    padding: 2rem;
    width: 40%;
}
.social i{
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem;
}
.foot_links, .foot_social{
    float: left;
}
.foot_logo, .foot_register{
    width: 50%;
    float: left;
}
.foot_social h2, h3{
    color: #6A80C9;
}
.foot_links h3{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.foot_social h2{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}


.language img{
    transform: scale(0.4);
    vertical-align: bottom;
}
.ita {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}
.foot_links a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 2rem 0;
}
.end{
    border-top: 1px solid #6A80C9;
    height: 200x;
    padding-top: 2rem;
    width: 50%;
    position: relative;
    float: left;
}
.end.register{
    text-align: right;
}
.button.registrati{
    background: #8EA1E1;
    color: white;
}