/* Common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: auto;  
}
body{
    font-family: 'Catamaran', sans-serif;
}

button{
    font-family : 'Catamaran';
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 1% 5%;
    border-radius: 40px;
}
button:hover{
    cursor: pointer;
}

/* debug */
    /* header debug */
    .debug .head {
        background-color: rgb(37, 94, 233);
        width: 100%;
    }
    .debug .navbar {
      /*   background-color: azure; */
        width: 1250px;
    }
   /*  .debug .side{
        background-color: cadetblue;
    }
    .debug .links{
        background-color: darkcyan;
    } */
    .debug .content.header{
       /*  background-color: blue; */
        height: 500px;
    }
    .debug .hero_text{
        margin: auto;
       /*  background-color: cadetblue ; */
}
    /* Main debug */
/*     .debug #main {
    background-color: darkgoldenrod ;
    padding: 50px 0;
    } */
    .debug .container.main{
       /*  background-color:sandybrown; */
        width: 1250px;
        padding: 1rem;
    }
    .debug .main_image{
       /*  background-color:sienna; */
        height: 600px;
    }
    .debug .main_text, .action{
     /*    background-color: tan; */
        
    }
    .debug .main_hero{
        /* background-color: coral; */

    }
    /* footer debug */
    .debug footer {
    background-color: rgba(35, 39, 42, 1);
    }
    .debug .container.footer{
        background: rgba(35, 39, 42, 1);
    }
    .debug .foot_links, .foot_social{
        background-color: rgba(35, 39, 42, 1);;
      /*   border: 1px solid black; */
        height: 400px;
    }
    .debug .foot_logo, .foot_register{
        /* border: 1px solid black; */
        height: 200px;
    }
/* /debug */

/* Header */
.head{
    line-height: 80px;
}
    /* Navbar */

    .side{
        height: 80px;
        width: 15%;
        float: left;
    }
    .button.side{
        text-align: right;
    }
    .links{
        height: 80px;
        width: 70%;
        float: left;
        text-align: center;
    }
    .links .h{
        color: white;
        text-decoration: none;
        margin: 1.5rem;
        font-weight: 600;
        font-size: 1.2rem;
    }
    img.logo{
        vertical-align: middle;
    }
    /* Hero section */
    .hero_text{
        width: 50%;
        height: 300px;
        color: white;
        text-align: center;
        padding: rem;
        font-size: 1.5rem;
    }
    .container.hero{
        padding: 100px 0px;
        background-image: url(../img/jumbo.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container .hero{
        margin: 1rem;
    }
    .container.hero h1.hero{
        font-size: 3.5rem;
    }
    .container.hero p.hero{
        font-size: 1.3rem;
    }
    button.dark{
        font-size: 1.5rem;
        color: white;
        background-color: black;
    }
    button.light{
        font-size: 1.5rem;
        color: black;
        background-color: white;
        padding-left: 4%;
    }
    
    /* /header */
    /* main */
    .main_text{
        width: 35%;
        float: left;
    }
    .main_image{
        width: 65%;
        float: left;
    }
    .main_text.large, .action {
        width: 100%;
        height: 200px;
    }
    .main_hero {
        width: 100%;
        /* height: 600px; */
    }
    div.main_text h2{
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 2rem 0;
    }
    div.main_text p{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .main_text.large, .main_hero, .action{
        text-align: center;
    }
    .title_ready{
        margin: auto;
        width: 500px;
        height: 70px;
        background-image: url(../img/stars.svg);
        background-size: contain;
        background-repeat: no-repeat;
        line-height: 70px;
    }
    button.lightblue{
        background-color: rgb(123, 118, 202);
        color: white;
        font-size: 1.5rem;
    }
/* footer */
footer{
    height: 500px;
}
.container.footer{
    width: 1250px;
}
.foot_links{
    width: 15%;
}
.foot_social{
    padding: 2rem;
    width: 40%;
}
.foot_links, .foot_social{
    float: left;
}
.foot_logo, .foot_register{
    width: 50%;
    float: left;
}
.foot_social h2, h3{
    color: rgb(114, 127, 240);
}
.foot_links h3{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.foot_social h2{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}


.language img{
    transform: scale(0.5);
    vertical-align: bottom;
}
.ita {
    color: white;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}
.foot_links a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 2rem 0;
}
.end{
    border-top: 1px solid rgb(123, 118, 202);
    height: 200x;
    padding-top: 2rem;
    width: 50%;
    position: relative;
    float: left;
}
.end button{
    position: absolute;
    right: 0;
}