/* Common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: auto;
    
}
/* debug */
.debug .head {
    background-color: aquamarine;
    width: 100%;
}
 .debug .navbar {
    background-color: azure;
    width: 80%;
}
.debug .side{
    background-color: cadetblue;
}
.debug .links{
    background-color: darkcyan;
}
.debug .hero{
    background-color: blue;
    height: 500px;
}
.debug .hero_text{
    margin: auto;
    background-color: cadetblue ;
}
/* Header */
.side{
    height: 80px;
    width: 15%;
    float: left;
}
.links{
    height: 80px;
    width: 70%;
    float: left;
}
.hero_text{
    width: 50%;
    height: 300px;
}
.container.hero{
    padding-top: 80px;
}