/* Common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: auto;  
}
body{
    font-family: 'Catamaran', sans-serif;
}

button{
    font-family : 'Catamaran';
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 1% 5%;
    border-radius: 40px;
}
/* debug */
    /* header debug */
    .debug .head {
        background-color: rgb(37, 94, 233);
        width: 100%;
    }
    .debug .navbar {
      /*   background-color: azure; */
        width: 80%;
    }
   /*  .debug .side{
        background-color: cadetblue;
    }
    .debug .links{
        background-color: darkcyan;
    } */
    .debug .content.header{
       /*  background-color: blue; */
        height: 500px;
    }
    .debug .hero_text{
        margin: auto;
       /*  background-color: cadetblue ; */
}
    /* Main debug */
    .debug #main {
        background-color: darkgoldenrod ;
        padding: 50px 0;
    }
    .debug .container.main{
        background-color:sandybrown;
        width: 80%;
        padding: 1rem;
    }
    .debug .main_image{
        background-color:sienna;
        height: 600px;
    }
    .debug .main_text, .action{
        background-color: tan;
        height: 600px;
    }
    .debug .main_hero{
        background-color: coral;
    }
    /* footer debug */
    .debug #footer {
background-color: darkslategray;
    }
    .debug .container.footer{
        background: darkgreen;
    }
    .debug .foot_links, .foot_social{
        background-color: darkolivegreen;
        border: 1px solid black;
        height: 400px;
    }
    .debug .foot_logo, .foot_register{
        border: 1px solid black;
        height: 80px;
    }
/* /debug */

/* Header */
.head{
    line-height: 80px;
}
    /* Navbar */

    .side{
        height: 80px;
        width: 15%;
        float: left;
    }
    .button.side{
        text-align: right;
    }
    .links{
        height: 80px;
        width: 70%;
        float: left;
        text-align: center;
    }
    .links .h{
        color: white;
        text-decoration: none;
        margin: 1.5rem;
        font-weight: 600;
        font-size: 1.2rem;
    }
    img.logo{
        vertical-align: middle;
    }
    /* Hero section */
    .hero_text{
        width: 50%;
        height: 300px;
        color: white;
        text-align: center;
        padding: rem;
        font-size: 1.5rem;
    }
    .container.hero{
        padding: 100px 0px;
        background-image: url(../img/jumbo.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container .hero{
        margin: 1rem;
    }
    .container.hero h1.hero{
        font-size: 3.5rem;
    }
    .container.hero p.hero{
        font-size: 1.3rem;
    }
    button.dark{
        font-size: 1.5rem;
        color: white;
        background-color: black;
    }
    button.light{
        font-size: 1.5rem;
        color: black;
        background-color: white;
        padding-left: 4%;
    }
    
    /* /header */
    /* main */
    .main_text{
        width: 35%;
        float: left;
    }
    .main_image{
        width: 65%;
        float: left;
    }
    .main_text.large, .action {
        width: 100%;
        height: 200px;
    }
    .main_hero {
        width: 100%;
        height: 600px;
    }
/* /header */
/* footer */
.debug .container.footer{
    width: 80%;
}
.foot_links{
    width: 15%;
}
.foot_social{
    width: 40%;
}
.foot_links, .foot_social{
    float: left;
}
.foot_logo, .foot_register{
    width: 50%;
    float: left;
}